#shoppingCart__mainWrapper {
  width: 100%;
  max-width: 1440px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 160px;
}

#shoppingCart__cartDetails {
  width: 824px;
  margin-left: 31px;
}

#shoppingCart__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

#shoppingCart__linkBackToStoreWrapper {
  margin-top: 16px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

#shoppingCart__linkBackToStore {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: ease 0.3s;
  color: var(--text-color);
}

#shoppingCart__linkBackToStore:hover {
  text-decoration: solid !important;
  text-shadow: 2px 2px 4px lightgray;
  transition: ease 0.3s;
}

#shoppingCart__cartItemsListWrapper {
  display: flex;
  flex-direction: column;
  transition: ease 0.3s;
}

#shoppingCart__orderDetailsSummaryWrapper {
  border: 2px solid var(--border-color);
  border-radius: 21px;
  margin-top: 125px;
  margin-left: 60px;
  margin-right: 30px;
  padding: 25px;
}

#shoppingCart__orderDetailsSummaryTitle {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

#shoppingCart__orderSumWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

#shoppingCart__orderSumTitle {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

#shoppingCart__orderSumValue {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

#shoppingCart__clearCartWrapper {
  margin-top: 16px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

#shoppingCart__clearCartButton {
  background-color: var(--shopping-cart-clear-cart-button-background);
  border-radius: 7px;
  border: 1px solid lightgray;
  padding: 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--shopping-cart-clear-cart-button-text-color);
}

#shoppingCart__clearCartButton:hover {
  box-shadow: 2px 2px 4px lightgray;
  color: var(--shopping-cart-clear-cart-button-text-color);
  transition: ease 0.3s;
  cursor: pointer;
}

.shoppingCart__priceCurrencySign {
  font-size: 12px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-family: var(--font-family);
  color: var(--text-color);
}

@media (max-width: 1200px) {
  #shoppingCart__mainWrapper {
    flex-direction: column;
    align-items: center;
  }

  #shoppingCart__orderDetailsSummaryWrapper {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-right: 0px;
  }

  #shoppingCart__cartDetails {
    width: 90%;
    margin-left: 31px;
    margin-right: 30px;
  }
}
