#offers__mainWrapper {
  margin-top: 150px;
  padding: 9px 20px 20px 20px;
}

#offers__categoryTitle {
  font-size: 40px;
  line-height: 52px;
  font-family: var(--font-family);
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 81px;
  margin-left: 10px;
}

#offers__listWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
  margin-top: 34px;
}
