#offers__mainWrapper {
  padding: 49px 18px;
}

#offers__saleTitle {
  font-size: 40px;
  line-height: 52px;
  font-family: var(--font-family);
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-left: 15px;
  color: var(--text-color);
}

#offers__listWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 34px;
}

@media (max-width: 1440px) {
  #offers__listWrapper {
    justify-content: space-evenly;
  }
}