#contacts__wrapper {
  width: 100%;
  height: 910px;
}

#contacts__infoWrapper {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin: 48px 32px 36px 32px;
}

#contacts__telWrapper {
  width: 58%;
}

#contacts__telTitle {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--text-color);
  margin-bottom: 15px;
}

#contacts__telNumber {
  font-size: 70px;
  line-height: 91px;
  font-weight: 600;
  font-family: var(--font-family);
  color: var(--text-color);
}

#contacts__addressWrapper {
  width: 42%;
}

#contacts__addressTitle {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--text-color);
  margin-bottom: 25px;
}

#contacts__address {
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  font-family: var(--font-family);
  font-style: normal;
  text-decoration: underline;
  color: var(--text-color);
}

#contacts__workingTimeTitle {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--text-color);
  margin-top: 20px;
  margin-bottom: 2px;
}

#contacts__workingTime {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 600;
  font-family: var(--font-family);
  color: var(--text-color);
}

#contacts__socialLinksWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  margin-top: 33px;
}

.contacts__socialLink a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  margin-right: 60px;
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 600;
  font-family: var(--font-family);
  color: var(--text-color);
  text-decoration: none;
}

.contacts__socialLink:last-child a {
  margin-right: 25px;
}

.contacts__socialLink a:hover {
  text-shadow: 2px 2px 4px lightgray;
}

#contacts__mapWrapper {
  margin: 0 35px 35px 35px;
  border: 0;
  filter: invert(var(--google-maps-filter)) hue-rotate(var(--google-maps-hue-rotate)) contrast(var(--google-maps-contrast));
}

@media (max-width: 1300px) {
  #contacts__wrapper {
    height: 915px;
  }
}

@media (max-width: 1220px) {
  #contacts__telNumber {
    font-size: 57px;
    line-height: 81px;
  }

  #contacts__address {
    font-size: 32px;
    line-height: 37px;
  }

  #contacts__wrapper {
    height: 880px;
  }
}

@media (max-width: 1010px) {
  #contacts__telNumber {
    font-size: 37px;
    line-height: 61px;
  }

  #contacts__address {
    font-size: 22px;
    line-height: 27px;
  }

  #contacts__wrapper {
    height: 850px;
  }
}

@media (max-width: 768px) {
  #contacts__telNumber {
    font-size: 30px;
    line-height: 61px;
  }

  #contacts__address {
    font-size: 18px;
    line-height: 27px;
  }

  #contacts__wrapper {
    height: 840px;
  }
}

@media (max-width: 700px) {
  #contacts__infoWrapper {
    flex-direction: column;
    margin-top: 8px;
  }

  #contacts__telWrapper {
    width: auto;
  }
    
  #contacts__addressWrapper {
    width: auto;
  }

  #contacts__telTitle {
    font-size: 30px; 
    line-height: 26px;
    margin-bottom: 20px;
  }

  #contacts__telNumber {
    font-size: 26px;
    line-height: 28px;
  }

  #contacts__addressTitle {
    font-size: 30px;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  #contacts__address {
    font-size: 18px;
    line-height: 20px;
  }

  .contacts__socialLinkImage {
    width: 26px;
  }
  
  .contacts__socialLink a {
    font-size: 12px;
    line-height: 19.5px;
  }

  #contacts__infoWrapper {
    margin-bottom: 3px;
  }

  #contacts__address {
    font-size: 20px;
    line-height: 28px;
  }

  #contacts__workingTimeTitle {
    font-size: 16px;
    line-height: 23.4px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  
  #contacts__workingTime {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  } 

  #contacts__socialLinksWrapper {
    margin-top: 20px;
    margin-left: 10px;
  }

  #contacts__wrapper {
    height: 930px;
  }
}