.shoppingCart__itemPriceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 33.333%;
}

.shoppingCart__itemActualPrice {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: baseline;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.shoppingCart__itemOldPrice {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration-line: line-through;
  color: var(--product-item-old-price);
  margin-right: 45px;
  width: 100px;
}

.shoppingCart__itemDiscount {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  color: #FF32A1;
}

.shoppingCart__priceCurrencySign {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-family: var(--font-family);
}

.shoppingCart__discountPriceCurrencySign {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-family: var(--font-family);
}

@media (max-width: 600px) {
  .shoppingCart__itemPriceWrapper {
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .shoppingCart__itemActualPrice {
    font-size: 30px;
    line-height: 32px;
  }
}